.mytext{
    text-align: justify;
}
.partation{
height: 40px;
}
#aboutus{
    background-image: url('../images/about.jpg');
    height:350px;
    background-size: cover;
}
#column{
    text-align: center;
    
}
.mycard:hover
{
margin-top: -20px;
}
.mycard
{
transition: 0.2s ease;
}
.zoom-in:hover img
{
transform: scale(1.2);
}
.zoom-in div{
    overflow: hidden;
}
.ul li{
list-style-type: none;
}
#registration{
    background-image: url('../images/bluebackground.jpg');
    height:350px;
    background-size: cover;
}
#link ul li{
    list-style-type: none;
}
#mansi{
    background-image: url('../images/contactus.jpg');
    height:700px;
    background-size: cover;
}
.circle{
    height: 30px;
    width: 30px;
    //border: 1px solid;
    background-color:blue;
    border-radius: 50%;
    float:left;
}
.circle1{
    height: 30px;
    width: 30px;
    //border: 1px solid;
    background-color:skyblue;
    border-radius: 50%;
    margin-left :10px;
    float:left;
}
.circle2{
    height: 30px;
    width: 30px;
    //border: 1px solid;
    background-color:orange;
    border-radius: 50%;
    margin-left :10px;
    float:left;
}